:root {

}


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
/* Раздел header */

.header_box {
    width: 1440px;
    height: 768px;
    background-image: url(../IMG/bg.png);
}
.haeder_box_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_img {
    width: 101.62px;
    height: 23px;
    margin-top: 40px;
}
.header_title_h1 {
    margin-top: 314px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "BebasNeueBold", sans-serif;
    letter-spacing: 5.71px;

}
.header_title_p {
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 212px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0px;
    font-weight: 400;
}

.header_scroll_p {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: mixed;
    text-transform: uppercase;
    font-weight: 400;
}

/* Раздел header_menu */

.header__menu {
}
.header__menu_box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1442px;
    width: 100%;
    height: 65px;
}
.header__menu_logo {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding-left: 252px;

}
.header_logo_img {
    width: 79.53px;
    height: 18px;
}
.header__menu_btns {
    display: flex;
    align-items: center;
    margin-right: 225px;
    
}
.header_menu_ol {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    padding-right: 5px;
    padding-left: 0;
    list-style: none;
}
.header_menu_li {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.09px;
}
.header_menu_li:hover {
    color: #00A4E5;
}



/* Раздел 'Our Story' */
.story {
    padding: 8px 0 50px 0;
}
.story_inner {
    display: flex;
    justify-content: center;
}
.story_left {
    max-width: 406px;
    margin-right: 77px;
}
.story_title_2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 50px 0 5px 0;
    color: #48555B;
}
.story_title_2:after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}
.story_title_3 {
    font-size: 20px;
    font-weight: bold;
    color: #48555B;
}
.accent_color {
    color: #16ACE8;

}
.story_text {
    color: #48555B;
}
.story_right {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.story_item {
    padding: 15px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.story_item:nth-child(1) {
    background-image: url(../IMG/Bitmap1.png);
}
.story_item:nth-child(2) {
    background-image: url(../IMG/Bitmap2.png);
}
.story_item:nth-child(3) {
    background-image: url(../IMG/Bitmap3.png);
    margin-right: 0;
}

/* Медиа запросы */
@media screen and (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1024px) {
    .story_inner {
        flex-wrap: wrap;
    }
    .story_left {
        margin: 0 auto;
    }
}
@media screen and (max-width: 500px) {
    .story_right {
        flex-direction: column;
        gap: 10px;
    }
    .story_item:nth-child(1) {
        margin-right: 0;
    }
    .story_item:nth-child(2) {
        margin-right: 0;
    }
}

/* Блок Services */

.container_services {
    max-width: 940px;
    min-height: 446px;
    margin: 0 auto;
    padding-top: 23px;
}
.header__services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
}

.header__services_h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 2.31px;
    text-transform: uppercase;
    color: #48555B;
    margin-top: 23px;

}
.header__services_h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 13px;

}

.haeder__services_p {
    max-width: 405.4px;
    min-height: 38px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #48555B;
    padding-top: 13px;
    padding-left: 0px;
    margin-left: 90px;
}

.hheader__services_btn {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 0;
    margin-top: 10px;
}
.hheader__services_btn:hover {
    background-color: #036c96;
}
.services__body {
    display: flex;
    gap: 28px;
    padding-bottom: 114px;
}
.services__body-block1 {
    width: 295px;
    height: 330px;
    border: thin solid #E6E6E6;
    color: #48555B;
    padding: 42px 20px 20px 20px;
}

.services__body-block-h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.43px;
    text-transform: uppercase;

}
.services__body-block-p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 23px;
}
@media screen and (max-width: 1024px) {
    .services__body {
        flex-direction: column;
    }
}

/* Блок город */

.container__city {
    max-width: 1440px;
    height: 499px;
    background-image: url(../IMG/BG_City.png);
    margin-top: 112px;
    margin: 0 auto;
}

.city_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.city_block_h1 {
    min-width: 350px;
    height: 72px;
    color: #48555B;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
}
.city_block_btn {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 0;
    margin-top: 15px;
    font-weight: 500;
}
.city_block_btn:hover {
    background-color: #036c96;
}

/* Блок Signup */

.container__signup {
    max-width: 1440px;
    min-height: 100px;
    background-color: #171819;
    margin: 0 auto;
}
.signup_box {
    display: flex;
    justify-content: space-between;
}
.signup__box-text {
    margin-left: 378px;
    padding-top: 16px;
}
.signup_box_h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    letter-spacing: 0.85px; 
    color: #FFFFFF;

}
.signup__box-form {
    margin-right: 372px;
    padding-top: 14px;
}
.signup_input {
    color: #979797;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.07px;
    padding-left: 18px;
}
input {
    width: 250px;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
}
.signup-btn {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 2px 0 0 0;
    margin-top: 15px;
    font-weight: 500;
}
@media screen and (max-width: 1024px) {
    .signup_box {
        flex-direction: column;
    }
}

/* Раздел Footer menu */
.footer__menu {
    max-width: 1440px;
    height: 240px;
    margin: 0 auto;
    background-color: #141A20;
}
.container__footer__menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}
.footer__menu_left {
    width: 250px;
    height: 148px;
    padding-top: 28px;
}
.footer__menu-h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.85px;

}
.footer__menu_logo {
    width: 101.62px;
    height: 23px;
    margin-top: 7px;
}
.footer__menu-p {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 19px;
    color: #979797;

}
.footer__menu_center1 {
    display: flex;
    justify-content: left;
    width: 262px;
    height: 150px;
    padding-top: 28px;
}
.footer__menu_ul {
    list-style: none;
    padding: 0;
}
.footer__menu-li {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0.85px;
}

.footer__menu-1 {
    margin-right: 26px;
}
.footer__menu-2 {
    margin-top: 19px;
    margin-right: 39px;
}
.footer__menu-3 {
    margin-top: 20px;
}

.footer__menu_center2 {
    width: 141px;
    height: 158px;
    padding-top: 28px;
}
.footer_menu_contacts-p {
    color: #979797;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.85px; 
}
.footer__menu_right {
    width: 87px; 
    height: 13px;
    padding-top: 64px;
}
.footer__menu-img {
    margin-right: 0px;
}
.footer__menu-img:nth-child(1) {
        margin-right: 20px;
}
.footer__menu-img:nth-child(2) {
        margin-right: 19px;
}



