:root {

}


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
/* Раздел header */

.header_box {
    width: 1440px;
    height: 768px;
    background-image: url(../IMG/bg.png);
}
.haeder_box_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header_img {
    width: 101.62px;
    height: 23px;
    margin-top: 40px;
}
.header_title_h1 {
    margin-top: 314px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 50px;
    text-transform: uppercase;
    font-family: "BebasNeueBold", sans-serif;
    letter-spacing: 5.71px;

}
.header_title_p {
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 212px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0px;
    font-weight: 400;
}

.header_scroll_p {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: mixed;
    text-transform: uppercase;
    font-weight: 400;
}





/* Раздел 'Our Story' */
.story {
    padding: 50px 0;
}
.story_inner {
    display: flex;
    justify-content: center;
}
.story_left {
    max-width: 406px;
    margin-right: 77px;
}
.story_title_2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 50px 0;
    color: #48555B;
}
.story_title_2:after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}
.story_title_3 {
    font-size: 20px;
    font-weight: bold;
    color: #48555B;
}
.accent_color {
    color: #16ACE8;

}
.story_text {
    color: #48555B;
}
.story_right {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.story_item {
    padding: 15px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.story_item:nth-child(1) {
    background-image: url(../IMG/Bitmap1.png);
}
.story_item:nth-child(2) {
    background-image: url(../IMG/Bitmap2.png);
}
.story_item:nth-child(3) {
    background-image: url(../IMG/Bitmap3.png);
    margin-right: 0;
}

/* Медиа запросы */
@media screen and (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1024px) {
    .story_inner {
        flex-wrap: wrap;
    }
    .story_left {
        margin: 0 auto;
    }
}
@media screen and (max-width: 500px) {
    .story_right {
        flex-direction: column;
        gap: 10px;
    }
    .story_item:nth-child(1) {
        margin-right: 0;
    }
    .story_item:nth-child(2) {
        margin-right: 0;
    }
}
